body{
    background-color: black;
}

.Logo{
    color: white;
    font-family: space grotesk;
    font-size: 23;
}

.hero-section {
    list-style-type: none;
    justify-content: center;
    display: inline;
    text-align: center;
    padding: 50px;
    bottom: 1150px;
    color: white;
    font-family: space grotesk;
    font-weight: 460;
    font-size: 56;
    line-height: 1.03;
    
}


a{
    text-decoration: none;
    color: white;
}

.mycontact{
    color: white;
    font-family: space grotesk;
    font-size: 17;
    text-align: right;
    bottom: -30;
    position: relative;
    text-decoration: underline;
   
    
}